doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Peliculas 
        form(method="GET" action="/admin/createmovie")
            input(type="submit" value="Crear")
        h3 Lista
        p Titulo
        img(src='', alt="") 
        p Año 
        p Genero
        p Duración 
        form(method="POST" action="/editmovie/:id")
            input(type="submit" value="Editar")
        br
        form(method="POST" action="/removemovie")
            input(type="submit" value="Eliminar")