doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h2 Peliculas
    form(action='/movies' method='GET')
        img(src='', alt="") 
        input(type='text' placeholder='Titulo')
        input(type='text' placeholder='Año')
        input(type='text' placeholder='Director')
        input(type='text' placeholder='Genero')
        input(type='text' placeholder='Duración')
        input(type="submit" value="Crear")