doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        
    body 
      h1 SIGNUP
      form#formulario(action="/signup" method="post" )
        p email
        input(name="email" type="text" )
        
        p password 
        input(name="password" type="text")
        br 
        input(type="submit")

      a(href='/') login