:root {
  --red: rgb(216, 1, 1);
  --black: #000;
  --grey: #cfcece;
  --white: #ffff;
}
/* ---- GENERAL STYLES ---- */
body{
  background-color: ghostwhite;
}
h1, h2, h3 {
  display: flex;
  justify-content: center;
  font-family: 'Staatliches';
  text-align: center;
}
h1 {
  color: var(--white);
  margin: 6px;
  font-size: 80px;
  margin-bottom: -10px;
}
h2 {
  font-size: 50px;
}
p, input {
  font-family: monospace;
  font-size: 18px;
}
label {
  font-size: 40px;
  margin: 10px;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
input{
  margin: 6px 12px;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid var(--grey);
  width: 50%;
  text-align: center;
  font-size: 17px;
}
.headerGen {
  background: #232526; 
  overflow: hidden;
}
.header {
  background: #232526;
  overflow: hidden;
}
#check {
  display: none;
}
.review{
  margin-right: 40px;
  margin-left: 40px;
  text-align: justify;
  border-style: solid;
  padding: 10px;
}
/* Style buttons */
button{	
	margin: 6px 12px;
	padding: 8px 16px;
	border-radius: 30px;
	border: 1px solid var(--grey);
	width: 50%;
  margin-left: 25%;
  font-size: 17px;
}
.google {
  background-color: dimgrey;
  color: white;
  text-align: center;
  font-size: 16px;
}
.signUp {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  margin-top: 40px;
}
.signIn {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}
.btn {
  background: none;
  border: none;
  color: var(--white);
  font-size: 40px;
  margin-left: 0;
  padding: 0;
  width: 40px;
  position: absolute;
  top: 50px;
  right: -5px;
  margin: 0;
  margin-right: 10px;
}
.search {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
}
.movies {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}
.details {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
  width: 30%;
}
.back {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 0;
}
.black {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  width: 21.5%;
}
.red {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  width: 20%;
}
.red.delete {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  width: 21%;
  margin-left: 39.5%;
}
.borrar {
  color: var(--red);
}
/* Style Img */
.imgSearch{
  position: relative;
  width: 80vw;
  top: 5px;
  box-shadow: 1px 1px 15px var(--black);
  margin-bottom: 20px;
}
.logos {
  width: 80vw;
  border-radius: 35%;
  margin: 10%;
}
.imgDelete {
  width: 80vw;
  box-shadow: 1px 1px 15px var(--black);
  margin-left: 10%;
  margin-bottom: 5%;
}
/* ---- DIV STYLES ---- */
.searchMovie{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: solid;
  margin: 20px;
}
.movieDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* CSS BURGER MENU*/
body {
  margin: 0;
  padding: 0;
}
.hamburger {
  position: fixed;
  background-color: transparent;
  right: -15px;
  bottom: 0;
  height: 30px;
  width: 30px;
  padding: 20px 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: rgb(216, 1, 1);
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hamburger:hover .-bottom {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}
.menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}
.menuppal {
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}
.menuppal ul {
  margin: 0;
  padding: 0;
}
.menuppal ul li {
  list-style: none;
  text-align: center;
  font-family: Verdadna, Arial, Helvetica;
  color: black;
  line-height: 3em;
  height: 3em;
  color: black;
  text-transform: none;
  font-weight: bold;
}
.menuppal ul li a {
  text-decoration: none;
  color: black;
}
.menuppal ul li a:hover {
  text-decoration: none;
  color: rgb(216, 1, 1);
}


[id="check"] {
  position: absolute;
  left: -100vw;
}

[for="check"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 3em;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

[for="check"]:hover {
  color: grey;
}

[for="check"]::selection {
  color: none;
  background: transparent;
}

[for="check"]::moz-selection {
  color: none;
  background: transparent;
}

[id="check"]:checked + label {
  color: var(--red);
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}



@keyframes heart {0%, 17.5% {font-size: 0;}}

@media screen and (min-width: 600px) {
  

  }


@media screen and (min-width: 960px) {

  .container{
    display: flex;
    flex-direction: column;
  }
  .logos{
    width: 400px;
    height: 400px;
    margin: 0px;
  
  } 
  .search{
    margin: 0px;
  }
  .movies{
    margin: 0px;
  }
  .buttonsMain{
    display: flex;
  }
}
